@font-face {
  font-family: "iconfont"; /* Project id 2787905 */
  src: url("iconfont.woff2?t=1630651442668") format("woff2"),
    url("iconfont.woff?t=1630651442668") format("woff"),
    url("iconfont.ttf?t=1630651442668") format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chrome-close:before {
  content: "\e60b";
}

.icon-chrome-restore:before {
  content: "\e620";
}

.icon-chrome-maximize:before {
  content: "\e623";
}

.icon-chrome-minimize:before {
  content: "\e63c";
}

.icon-msg-fill:before {
  content: "\e6ed";
}

.icon-sorts:before {
  content: "\e722";
}

.icon-refresh:before {
  content: "\e74e";
}

.icon-like-fill:before {
  content: "\e721";
}

.icon-ashbin:before {
  content: "\e746";
}

.icon-map:before {
  content: "\e758";
}

.icon-uploader:before {
  content: "\e76b";
}

.icon-star-fill:before {
  content: "\e79d";
}

.icon-refresh-right:before {
  content: "\e6e3";
}

.icon-refresh-left:before {
  content: "\e6e4";
}

.icon-user-fill:before {
  content: "\e7aa";
}

.icon-discover:before {
  content: "\e62f";
}

.icon-filter:before {
  content: "\e7cf";
}

.icon-history:before {
  content: "\e6f8";
}

.icon-editor:before {
  content: "\e6f6";
}

.icon-invisible:before {
  content: "\e6fe";
}

.icon-QRcode:before {
  content: "\e704";
}

.icon-pic-fill:before {
  content: "\e72e";
}

.icon-prompt-fill:before {
  content: "\e730";
}

.icon-form-add:before {
  content: "\e742";
}

.icon-arrow-right:before {
  content: "\e743";
}

.icon-arrow-left:before {
  content: "\e744";
}

.icon-arrow-up:before {
  content: "\e745";
}

.icon-asc:before {
  content: "\e747";
}

.icon-visible:before {
  content: "\e748";
}

.icon-category:before {
  content: "\e749";
}

.icon-cancel:before {
  content: "\e74a";
}

.icon-conditions:before {
  content: "\e74b";
}

.icon-editor-confirm:before {
  content: "\e74c";
}

.icon-data:before {
  content: "\e74d";
}

.icon-desc:before {
  content: "\e74f";
}

.icon-double-arrow-right:before {
  content: "\e750";
}

.icon-double-arrow-left:before {
  content: "\e751";
}

.icon-ellipsis:before {
  content: "\e752";
}

.icon-turn-down:before {
  content: "\e753";
}

.icon-help:before {
  content: "\e754";
}

.icon-turn-left:before {
  content: "\e756";
}

.icon-link:before {
  content: "\e757";
}

.icon-form-error:before {
  content: "\e75e";
}

.icon-form-reduce:before {
  content: "\e75f";
}

.icon-return:before {
  content: "\e760";
}

.icon-turn-up:before {
  content: "\e761";
}

.icon-turn-right:before {
  content: "\e762";
}

.icon-seleted:before {
  content: "\e763";
}

.icon-sorting:before {
  content: "\e766";
}

.icon-form-success:before {
  content: "\e767";
}

.icon-form-add-fill:before {
  content: "\e777";
}

.icon-ashbin-fill:before {
  content: "\e778";
}

.icon-good-fill:before {
  content: "\e780";
}

.icon-hot-fill:before {
  content: "\e781";
}

.icon-help-fill:before {
  content: "\e784";
}

.icon-password-fill:before {
  content: "\e786";
}

.icon-map-fill:before {
  content: "\e787";
}

.icon-phone-fill:before {
  content: "\e788";
}

.icon-form-reduce-fill:before {
  content: "\e789";
}

.icon-form-error-fill:before {
  content: "\e78a";
}

.icon-remind-fill:before {
  content: "\e78b";
}

.icon-form-success-fill:before {
  content: "\e78d";
}

.icon-comments-fill:before {
  content: "\e7a9";
}

.icon-plus:before {
  content: "\e7b0";
}

.icon-minus:before {
  content: "\e7b1";
}

.icon-arrow-down:before {
  content: "\e7b2";
}

.icon-search:before {
  content: "\e7b3";
}

.icon-microphone:before {
  content: "\e7bf";
}

.icon-upload:before {
  content: "\e7c4";
}

.icon-loading:before {
  content: "\e759";
}

.icon-prompt:before {
  content: "\e764";
}

.icon-empty:before {
  content: "\e602";
}

.icon-manage-order:before {
  content: "\e75a";
}

.icon-order:before {
  content: "\e7b4";
}

.icon-upload-order:before {
  content: "\e7c5";
}

.icon-location-order:before {
  content: "\e7c7";
}

.icon-Q:before {
  content: "\e6a4";
}

.icon-balance:before {
  content: "\e689";
}

.icon-pause:before {
  content: "\e629";
}

.icon-play:before {
  content: "\e653";
}

.icon-boxy:before {
  content: "\e6c9";
}

.icon-tenpay:before {
  content: "\e650";
}

.icon-lock-circle:before {
  content: "\e855";
}

.icon-lock-circle-fill:before {
  content: "\e67e";
}

.icon-chart:before {
  content: "\e60e";
}
